#modal-wrapper {
	border: none;

	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);

	z-index: 1;
}

#modal {
	border-radius: 5px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	background-color: var(--tertiary-color);
	padding: 1%;

	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

	min-width: 700px;
	max-height: 80%;
}

#modal .modal-header {
	display: inline;
}

#modal .modal-header > span {
	float: right;
	font-size: 21px;
	font-weight: bold;
}

#modal .modal-header #modal-return-arrow {
	font-size: 18px;
	float: left;
}

#modal .hidden {
	display: none!important;
}

#modal .soft-hidden {
	opacity: 0;
}

#modal #modal-edit, #modal #modal-create {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#modal h1 {
	font-family: 'Work Sans';
	font-size: 21px;
	align-self: center;
	color: black;
}

#modal #works-container {
	display: grid;
	grid-template-columns: repeat(5,minmax(100px, 1fr));
	margin: 20px 50px;
}

#modal #works-container .image-container {
	display: flex;
	flex-direction: column;
	margin: 5px;
	position: relative;
}

#modal #works-container .image-container span {
	margin-top: 5px;
}

#modal #works-container .image-container span:hover {
	text-decoration: underline;
}

#modal #works-container .image-container img {
	width: 100%;
	max-width: 100px;
	aspect-ratio: 2/3;
	object-fit: cover;
}

#modal #works-container .image-container .delete-button {
	position: absolute;
	top: 10%;
	left: 80%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: black;
	border: none;
	border-radius: 3px;
}

#modal #works-container .image-container .delete-button > * {
	pointer-events: none;
	color: white;
	margin: 2px 1px;
}

#modal hr {
	margin: 10px 50px;
}

#modal .delete-all-button {
	color: red;
	background-color: transparent;
	border: none;
}

#modal #modal-edit > button {
	margin: 10px auto;
}

/* MODAL CREATE */
#modal #modal-create form {
	display: flex;
	flex-direction: column;
	margin: 20px 15%;
	gap: 20px;
}

#modal-create div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#modal-create div > * {
	width: 100%;
}

#modal-create input, #modal-create select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal-create select {
	background-color: white;
}

#modal-create hr {
	margin: 0;
	color: #a7a7a7;
}

#modal-create input[type="submit"] {
	margin: 0 auto;
}

#modal-create input[type="submit"].desactivate {
	background-color: #a7a7a7;
}

#create-image {
	display: flex;
	flex-direction: column;
	position: relative;
}

#create-image > * {
	width: auto;
	margin: 0 auto;
}

#create-image-label {
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

#create-image-label i {
	font-size: 5em;
	color: #b9c5cc;
}

#create-image-label .button-label {
	background-color: #cbd6dc;
	padding: 10px;
	height: 1em;
	border-radius: calc(5px + 1em);
	color: #306685;
}

#create-image-field {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#modal-create #create-image-preview {
	width: 100%;
	height: 200px;
	object-fit: contain;

	background-color: #e8f1f6;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #e8f1f6;
}
